h1{
    color: red;
}
#profile{
    border-radius: 100%;
    display: -webkit-flex;
            -webkit-flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
            word-wrap: normal;         
}