h1{
    color: red;
    text-shadow: 3px 3px 3px;
}
#profile{
    border-radius: 100%;
    display: -webkit-flex;
            -webkit-flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
            word-wrap: normal;         
}
.floating{
    border: 0ch;
    box-shadow: 0ch;
}